<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2> Chits
          <small class="text-muted"></small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button"
          (click)="add()">
          <i class="zmdi zmdi-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <h2 class="card-inside-title"></h2>
            <div class="row clearfix">
              <div class="col-md-12">
                <form (ngSubmit)="onSearchSubmit()" #searchForm="ngForm">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="font-weight-normal">{{ app.text.per_page || 'per_page' }}<span
                            class="required"></span></label>
                        <select class="custom-select form-control" id="num_per_page" required [(ngModel)]="num_per_page"
                          name="num_per_page">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                          <option value="200">200</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="search">{{ app.text.search || 'search' }}</label>
                        <app-text-field [(ngModel)]="search" type="text" view="input"
                          placeholder="{{ app.text.search || 'search' }} {{ app.text.here || 'here' }}" name="search"
                          cId="search" #searchx="ngModel" required="false"></app-text-field>
                        <div [hidden]="searchx.valid" class="text-danger"> {{ app.text.search || 'search' }} {{
                          app.text.is_required || 'is_required' }}
                        </div>
                      </fieldset>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block pull-right waves-effect"
                          [disabled]="!searchForm.form.valid" style="margin-top: 30px">{{ app.text.search || 'search'
                          }}</button>
                      </div>
                    </div>

                  </div>
                </form>

              </div>
              <div class="col-md-12">
                <div class="body table-responsive">
                  <table class="table  table-bordered">
                    <thead>
                      <tr>
                        <th> #</th>
                        <!-- <th>{{ app.text.cs_chit_scheme || 'cs_chit_scheme' }}</th> -->
                        <th> Chit Value</th>
                        <!-- <th>{{ app.text.ac_no_of_members || 'ac_no_of_members' }}</th> -->
                        <!-- <th>{{ app.text.ac_no_of_installment || 'ac_no_of_installment' }}</th>
                        <th>{{ app.text.ac_log || 'ac_log' }}</th> -->
                        <th> Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let listItem of chits;let i=index">
                        <td>{{i+1}}</td>
                        <!-- <td>{{listItem.cs_chit_scheme}}</td> -->
                        <!-- <td>{{listItem.cv_chit_value}}</td> -->
                        <!-- <td>{{listItem.ac_no_of_members}}</td> -->
                        <!-- <td>{{listItem.ac_chit_scheme}}</td>
                        <td>{{convertToDateTime(listItem.ac_log)}}</td> -->
                        <td><a (click)="editItem(listItem)" style="cursor: pointer;"><img src="assets/images/edit.png" width="20" height="20"></a><span><a (click)="deleteItem(listItem.cv_id)" style="cursor: pointer;"><img src="assets/images/delete.png" width="20" height="20"></a></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-block" *ngIf="start_from+received != count && values.length > 0"
                  (click)="moveNext()"><span class="float-left"> {{displayCount}} </span> <span class="float-right">{{
                    app.text.load_more || 'load_more' }}..</span></button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="modal fade" id="myModal_id" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit()" #baseForm="ngForm">
        <div class="modal-header">
          <h4 class="title" id="largeModalLabel_id" *ngIf="chit.id == '-1'">
            {{ app.text.add || 'Add' }}
          </h4>
          <h4 class="title" id="largeModalLabel_id" *ngIf="chit.id != '-1'">
            {{ app.text.edit || 'Edit' }}
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">

              <fieldset class="form-group">
               
                <label>Name</label>
                <app-text-field [(ngModel)]="chit.name" type="text" view="input"
                  placeholder="{{ app.text.enter || 'enter' }} {{ app.text.name || 'name' }}"  name="name" 
                  cId="name" #name="ngModel" required="false" ></app-text-field>
                <div [hidden]="name.valid" class="text-danger"> {{ app.text.name || 'name' }} {{
                  app.text.is_required || 'is_required' }}
                </div>
              </fieldset>
              <fieldset class="form-group">
               
                <label>No.of.Members</label>
                <app-text-field [(ngModel)]="chit.no_of_members" type="text" view="input"
                  placeholder="{{ app.text.enter || 'enter' }} {{ app.text.no_of_members || 'no_of_members' }}"  name="no_of_members" 
                  cId="no_of_members" #no_of_members="ngModel" required="false" ></app-text-field>
                <div [hidden]="no_of_members.valid" class="text-danger"> {{ app.text.no_of_members || 'no_of_members' }} {{
                  app.text.is_required || 'is_required' }}
                </div>
              </fieldset>
              <fieldset class="form-group">
               
                <label>Value</label>
                <app-text-field [(ngModel)]="chit.value" type="text" view="input"
                  placeholder="{{ app.text.enter || 'enter' }} {{ app.text.value || 'value' }}"  name="value" 
                  cId="value" #value="ngModel" required="false" ></app-text-field>
                <div [hidden]="value.valid" class="text-danger"> {{ app.text.value || 'value' }} {{
                  app.text.is_required || 'is_required' }}
                </div>
              </fieldset>
              <fieldset class="form-group">
               
                <label>No.of.EMI</label>
                <app-text-field [(ngModel)]="chit.no_of_emi" type="text" view="input"
                  placeholder="{{ app.text.enter || 'enter' }} {{ app.text.no_of_emi || 'no_of_emi' }}"  name="no_of_emi" 
                  cId="no_of_emi" #no_of_emi="ngModel" required="false" ></app-text-field>
                <div [hidden]="no_of_emi.valid" class="text-danger"> {{ app.text.no_of_emi || 'no_of_emi' }} {{
                  app.text.is_required || 'is_required' }}
                </div>
              </fieldset>
              <fieldset class="form-group">
               
                <label>EMI Amount</label>
                <app-text-field [(ngModel)]="chit.emi_amount" type="text" view="input"
                  placeholder="{{ app.text.enter || 'enter' }} {{ app.text.emi_amount || 'emi_amount' }}"  name="emi_amount" 
                  cId="emi_amount" #emi_amount="ngModel" required="false" ></app-text-field>
                <div [hidden]="emi_amount.valid" class="text-danger"> {{ app.text.emi_amount || 'emi_amount' }} {{
                  app.text.is_required || 'is_required' }}
                </div>
              </fieldset>

             
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-round waves-effect" [disabled]="!baseForm.form.valid"
            *ngIf="loadingText == 'Save'">
            {{ app.text.save || 'save' }}
          </button>
          <button type="submit" class="btn btn-primary btn-round waves-effect" disabled *ngIf="loadingText != 'Save'">
            {{ app.text.saving || 'saving' }}
          </button>
          <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">{{ app.text.cancel ||
            'cancel' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>